<div class="jumbotron">
  <h1>Mi lista de contactos</h1><br>
  <p class="lead">
    <img src="images/rsz_ang_grunt_yo.png">
  </p>
</div>

<div class="row marketing">
  <h4>Previsualizar contactos</h4>
  <p>
    Para ver la lista de contactos seleccionar la pestaña "Contacts".
  </p>

  <h4>Búsqueda de contactos</h4>
  <p>
    Puede realizar búsquedas bajo su criterio en la pestaña "Search".
  </p>
  
  <h4>Añadir nuevo contacto</h4>
  <p>
    Para añadir un contacto seleccionar la pestaña "New"
  </p>
</div>
